<!DOCTYPE html>
<html>
<head>
    <title>{{ item.title }}</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<header>
    <h1 class="item-title">{{ item.title }} ({{ message }})</h1>

    <div class="login">
        {% if username %}
            <span>{{ username }}</span>
        {% else %}
            <a href="/auth" class="login-link">Войти</a>
        {% endif %}
    </div>
</header>

<div class="back-link">
    <a href="/">← Назад к списку новостей</a>
</div>

<div class="item-container">
    <div class="item">
        <div class="item-subtitle">
            <small>{{ item.created_at }}</small>
            <div class="views-container">
                <svg class="views-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z" stroke="currentColor" 
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 
                        10.3431 15 12 15Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="views-count">{{ views }}</span>
            </div>
        </div>

        <a href="/category/{{ item.category_id }}" class="item-category">{{ item.category_title}}</a>
        <div class="item-tags">
            {% for tag in item.tags %}
                <a href="/tag/{{ tag.id }}" class="item-tag">{{ tag.title}}</a>
            {% endfor %}
        </div>

        <div class="item-content">
            {{ item.content }}
        </div>

        {% if like %}
            <form action="/remove-like" method="post">
                <input type="hidden" name="news" value="{{ item.id }}">
                <button type="submit" class="like-button">
                    <svg class="like-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.35L10.55 20.03C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3C9.24 3 10.91 3.81 12
                            5.09C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5C22 12.28 18.6 15.36 13.45 20.04L12 21.35Z"
                            stroke="currentColor" 
                            stroke-width="2" 
                            stroke-linecap="round" 
                            stroke-linejoin="round"/>
                    </svg>
                </button>
                <span>{{ like_count }}</span>
            </form>
        {% else %}
            <form action="/add-like" method="post">
                <input type="hidden" name="news" value="{{ item.id }}">
                <button type="submit" class="like-button">
                    <svg class="like-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.35L10.55 20.03C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3C9.24 3 10.91 3.81 12 5.09C13.09
                            3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5C22 12.28 18.6 15.36 13.45 20.04L12 21.35Z" 
                            stroke="currentColor" 
                            stroke-width="2" 
                            stroke-linecap="round" 
                            stroke-linejoin="round"/>
                    </svg>
                </button>
                <span>{{ like_count }}</span>
            </form>
        {% endif %}
    </div>
</div>

</body>
</html>