<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>News List ({{ message }})</h1>
    <div class="login">
        <a href="/search" class="login-link">Search</a>

        {% if is_admin %}
            <a href="/statistics" class="login-link">Statistics</a>
        {% endif %}

        {% if username %}
            <span>{{ username }}</span>
        {% else %}
            <a href="/auth" class="login-link">Login</a>
        {% endif %}
    </div>
    <div class="active-users">
        Active Users: {{ active_users }}
    </div>
</header>

<div class="wrapper">
    <div class="top">
        {% if popular %}
            <div>
                <h2>Most Popular</h2>
                {% for item in popular %}
                    <div class="popular-item">
                        <small>{{ item.created_at }}</small>
                        <a href="/news/{{ item.id }}" class="news-title">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if popular_city %}
            <div class="popular-city">
                <h2>Popular In Your City</h2>
                {% for item in popular_city %}
                    <div class="popular-item">
                        <small>{{ item.created_at }}</small>
                        <a href="/news/{{ item.id }}" class="news-title">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="container">
        {% for item in news %}
            <div href="#" class="news">
                <a href="/news/{{ item.id }}" class="news-title">{{ item.title }}</a>
                <div class="news-subtitle">
                    <small>{{ item.created_at }}</small>
                    <div class="views-container">
                        <svg class="views-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z" stroke="currentColor" 
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 
                                10.3431 15 12 15Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class="views-count">{{ item.views }}</span>
                    </div>
                </div>
                <a href="/category/{{ item.category_id }}" class="news-category">{{ item.category_title}}</a>
                <div class="news-tags">
                    {% for tag in item.tags %}
                        <a href="/tag/{{ tag.id }}" class="news-tag">{{ tag.title}}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        {% if recently %}
            <div class="recently">
                <h2>You read recently</h2>
                {% for item in recently %}
                    <div class="popular-item">
                        <small>{{ item.created_at }}</small>
                        <a href="/news/{{ item.id }}" class="news-title">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if prefs %}
            <div class="recommendations">
                <h2>Recommendations</h2>
                {% for item in prefs %}
                    <div class="popular-item">
                        <small>{{ item.created_at }}</small>
                        <a href="/news/{{ item.id }}" class="news-title">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
</div>

<div class="pagination">
    {% for page in 1..pages %}
        <a href="/?page={{ page }}" {% if current_page == page %}class="active"{% endif %}>
            {{ page }}
        </a>
    {% endfor %}
</div>

</body>
</html>